body {
	background-color: palevioletred;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-size: 2em;
	position: relative;
}

.text {
	position: relative;
	color: transparent; /* Hide original text*/
}


/* Default text */
.text::before {
	content: "happy";
	color: black;
}

/* Change to 'birthday' on larger screens */
@media screen and (min-width: 768px) {
	.text::before {
		content: "birthday";
	}
}







